In [8]:
import sqlite3
conn = sqlite3.connect('pettigrew.db')

In [9]:
c = conn.cursor()

In [10]:
results = c.execute("SELECT * FROM letters;")

rows = results.fetchmany(3)

OperationalError: no such table: letters

In [4]:
columns = results.description

NameError: name 'results' is not defined

In [40]:
r = results.fetchone()

In [41]:
print(r)

('1', '4', 'Aberdeen, George Hamilton-Gordon, 4th Earl of, 1784-1860. 1 ALS, 1 LS, 1 AL to T. J. Pettigrew', '1846 Aug')

In [42]:
col_names = []

for col_info in columns:
    col_names.append(col_info[0])

In [45]:
col_names.index('Date')

3

In [43]:
print(col_names)

['BoxNumber', 'FolderNumber', 'Contents', 'Date']

In [44]:
for row in results.fetchmany(5):
    print(row[col_names.index('Date')])

1859, 1860
n.d.
1823-30
1858-59
1828 Jun

In [46]:
!ls

SQL explore.ipynb      example.db
avengers explore.ipynb pettigrew_test.db

In [47]:
!pwd

/Users/wickes1/Documents/RAILS/railspandasexplore